/*Paleta de Cores 
#E5ECE9 light
#D6D1CD medium
#969A97 dark

#F90093 pink light
#C60F7B pink dark
*/


body {
    background-color: #E5ECE9;
    padding-top: 150px;
    font-family: 'Montserrat', sans-serif;
    font-size: 18.67px;
}
/**** HEADER ****/
#header-nav {
    background-color: #F90093;
    border-radius: 0;
    border: 0;
    box-shadow: 10px 5px 10px 1px #969A97;
    
}
.navbar-brand {
    padding-top: 25px;
    padding-bottom: 25px;
    margin-bottom: 30px;
}
.navbar-brand  h1 { /*Food, Lcc*/
    color: #E5ECE9;
    margin: 0 auto 0;
    font-size: 2.5em;
    font-family: 'Bebas Neue', cursive;
    margin-top: 10px;
}  
.navbar-brand a:hover, .navbar-brand a:focus {
    text-decoration: none;
}
#nav-list {
    margin-top: 0px;
    margin-bottom: 0px;
}
#nav-list a {
    color: #E5ECE9;
    font-size: 1.1em;
    background-color: #C60F7B;
}
#nav-list a:hover {
    background-color: #F90093;
}
.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
    border: 1px solid #E5ECE9;
}
.navbar-header button.navbar-toggle {
    clear: both;
    margin-top: -30px;
}
.navbar-toggle {
    
}

/**** END HEADER ****/

/**** HOME ****/
h2 {
    font-weight: 700;
    color: #C60F7B;
    letter-spacing: .13em;
    text-transform: uppercase; 
}
h3 {
    font-weight: 600;
    color: #969A97;
    letter-spacing: .1em;    
}
.wbox {
    padding: 30px;
    margin-bottom: 30px;
    border-radius: 6px;
    background-color: #D6D1CD;
    box-shadow: 10px 2.5px 10px 1px #969A97;
    color: #C60F7B; 
}

/**** END HOME *****/
